{
  "env": {
    "browser": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "quotes": ["error", "double"],
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "comma-dangle": ["error", "never"]
  }
}
